<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Interactions</title>
</head>
<body>

<h1>Compares</h1>
    <label for="x_column">Select X Column:</label>
    <select id="x_column" name="x_column">
        {% for column in comp.cols %}
        <option value="{{ column }}">{{ column }}</option>
        {% endfor %}
    </select>

    <label for="y_column">Select Y Column:</label>
    <select id="y_column" name="y_column">
        {% for column in comp.cols %}
        <option value="{{ column }}">{{ column }}</option>
        {% endfor %}
    </select>

    <label for="hue_column">Select Hue Column:</label>
    <select id="hue_column" name="hue_column">
        <option value="">None</option>
        {% for column in comp.cols %}
        <option value="{{ column }}">{{ column }}</option>
        {% endfor %}
    </select>

    <div id="content"></div>

    <script>
        var htmlSnippets = {{ comp.storage|tojson|safe }};
        var xColumnSelect = document.getElementById('x_column');
        var yColumnSelect = document.getElementById('y_column');
        var hueColumnSelect = document.getElementById('hue_column');
        var contentDiv = document.getElementById('content');

        xColumnSelect.addEventListener('change', updateContent);
        yColumnSelect.addEventListener('change', updateContent);
        hueColumnSelect.addEventListener('change', updateContent);

        function updateContent() {
    var xColumn = xColumnSelect.value;
    var yColumn = yColumnSelect.value;
    var hueColumn = hueColumnSelect.value;
    var snippetKeys = [];
    if (hueColumn) {
        // All combinations of 3 items
        snippetKeys = [
            xColumn + '_' + yColumn + '_' + hueColumn,
            xColumn + '_' + hueColumn + '_' + yColumn,
            yColumn + '_' + xColumn + '_' + hueColumn,
            yColumn + '_' + hueColumn + '_' + xColumn,
            hueColumn + '_' + xColumn + '_' + yColumn,
            hueColumn + '_' + yColumn + '_' + xColumn,
        ];
    } else {
        // All combinations of 2 items
        snippetKeys = [
            xColumn + '_' + yColumn,
            yColumn + '_' + xColumn,
        ];
    }

    var snippetKey = snippetKeys.find(key => htmlSnippets[key]);

    if (snippetKey) {
        contentDiv.innerHTML = htmlSnippets[snippetKey];
    } else {
        contentDiv.innerHTML = 'asdf';
    }
}
    </script>

</body>
</html>